@page
@model MyRestaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-warning">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>



<table class="table">

    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td> @restaurant.Name </td>
            <td> @restaurant.Location </td>
            <td> @restaurant.Cuisine </td>
            <td>
                <a class="btn btn-warning" asp-page="./Details" asp-route-id="@restaurant.Id">
                    <i class="fa fa-info-circle"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@restaurant.Id">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            <td>
                <a class ="btn btn-warning" asp-page="./Delete" asp-route-id="@restaurant.Id">
                    <i class="fa fa-trash">

                    </i>
                </a>
            </td>
        </tr>

    }

</table>

<a class="btn btn-warning" asp-page="./Edit">Add Restaurant</a>

